{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}

{% block title %}WatchnLearn | Log In{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 mx-auto my-auto text-center">
                <h2>Log in</h2>
                <hr>
            </div>
        </div>
        <div class="content-section">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group">
                    <input class="form-control mt-3" name="email" placeholder="Email" type="email" required>
                </div>
                <div class="form-group">
                    <input class="form-control mt-3" name="password" placeholder="Password" type="password" required>
                </div>
                <a href="{% url 'password_reset' %}"><small>Forgot Password?</small></a>
                <div class="form-group">
                    <button class="btn btn-outline-info log mt-2" type="submit">Log in</button>
                </div>
            </form>
            <hr>
            <div class="col d-flex justify-content-center text-center" id='design_hr'>
                <hr class="text-danger">
                <p>or log in with</p>
                <hr class="text-danger">
            </div>
            <div class="col d-flex justify-content-center login_media">
                <a href="#"><i class="fab fa-facebook-f mx-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-google mx-2" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 mx-auto my-auto text-center">
                <h2>Register</h2>
                <hr>
            </div>
        </div>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ sign_up_form.first_name|attr:"class:form-control mt-3" }}
                    </div>
                    <div class="col-md-6">
                        {{ sign_up_form.last_name|attr:"class:form-control mt-3" }}
                    </div>
                    <div class="col-12">
                        {{ sign_up_form.email|attr:"class:form-control mt-3"}}
                        {% for error in sign_up_form.email.errors %}
                            <small style="color: red; font-weight: 600">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        {{ sign_up_form.password1|attr:"class:form-control mt-3"}}
                    </div>
                    <div class="col-12">
                        {{ sign_up_form.password2|attr:"class:form-control mt-3 mb-3"}}
                        {% for error in sign_up_form.password2.errors %}
                            <small style="color: red; font-weight: 600">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-info log my-2" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}