{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}
{% block title %}WatchnLearn | Reset Password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto my-auto text-center">
        <h2>Reset Password</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto my-auto" id="log_cat">
        {% if validlink %}
            <div class="content-section mt-1 bg-light">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }}
                            {{ field|attr:"class:form-control"}}
                            {% for error in field.errors %}
                                <small style="color: red; font-weight: 600">{{ error }}</small>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-outline-info log" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="content-section mb-5">
                <div class="alert alert-info my-2 text-center">
                    Your password reset link is invalid, used or has an expired token
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}