{% extends "main/base.html" %}
{% block title %}WatchnLearn | Reset Password{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-9 my-auto mx-auto">
        <div class="content-section my-5">
            <div class="alert alert-info my-2 text-center">
                Your password has been reset successfully
            </div>
            <a id="reset_success_btn" class="btn w-100 my-3" href="{% url 'signup_login' %}">Login</a>
        </div>
    </div>
</div>

{% endblock %}