{% extends "main/base.html" %}
{% block title %}WatchnLearn | Awaiting Approval{% endblock %}


{% block content %}

<div class="row">
    <div class="col text-center">
        <h1><span class="category_filter_title">Awaiting Approval</span></h1>
        <hr class="awaiting_approv mb-4">
    </div>
</div>

<div class="row">
    <div class="col-md-6 my-auto mx-auto">
        <div class="content-section">
            <div class="alert alert-info my-2 text-center pending_msg">
                <i class="fa fa-check-circle text-success"></i>
                <p>Your class is under review. An email will be sent to you after review. Futher instructions will be in the mail. Thank you for wanting to inspire and share knowledge.</p>
            </div>
        </div>
    </div>
</div>
<hr class="awaiting_approv mb-4">

{% endblock %}