{% extends "main/base.html" %}
{% block title %}WatchnLearn | Teach{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="img_container text-center">
            <div class="thumbnail">
                <img class="instruct_img img-fluid" src="{{ instructor_picture.image.url }}" alt="teacher">
                <div class="caption">
                    <h1>Inspire creativity in others.</h1>
                    <p>Teach on WatchnLearn and share your passion with members around the world.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col text-center">
        <h3 class="instruct_headers">Why Teach on WatchnLearn</h3>
    </div>
</div>

<div class="container">
    <hr class="mb-4">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-4">
            <div class="instruct_item text-center">
                <i class="fa fa-money-check-alt"></i>
                <h3>Earn Money<h3>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-4">
            <div class="instruct_item text-center">
                <i class="fa fa-users"></i>
                <h3>Build your Community</h3>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-4">
            <div class="instruct_item text-center">
                <i class="fa fa-lightbulb"></i>
                <h3>Inspire others<h3>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-6 col-md-6 mb-3 text-center">
        <a href="#" class="btn instruct_utils w-75">Instructor's Handbook</a>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 text-center">
        <a href="{% url 'create_class' %}" class="btn instruct_utils w-75">Start a Class</a>
    </div>
</div>


{% endblock %}
