{% extends 'main/base.html' %}
{% block title %}WatchnLearn | {{ category }}{% endblock %}
{% load courses_tags %}

{% block content%}

<h1 class="course_filter_h1">Courses on <span class="category_filter_title">"{{ main_category }}"</span></h1>
<hr class="mb-4">

<div class="row">
    {% for course in category_courses %}
    <div class="col-md-4 mb-5">
        <div class="card courses_card">
            <img src="{{ course.thumbnail_image.url }}" alt="{{ course.title }}" class="card-img-top img-fluid">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col d-flex justify-content-between little_course_info">
                        <p>{{ course.students.all|length }} student{{ course.students.all|length|pluralize:",s" }}</p>
                        <p>{{ course|get_course_duration }}</p>
                    </div>
                </div>
                <a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                <div class="row mt-2 course_details">
                    <div class="col d-flex justify-content-between">
                        <p>{{ course.instructor }}</p>
                        <div>
                            <a><i class="fa fa-bookmark bookmark_btn {% if course in user.user_bookmarks.folder.all %}active{% endif %}" data-id="{{ course.id }}"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if category_courses.has_other_pages %}
    <div class="text-center">
        {% if category_courses.has_previous %}
            <a class="btn btn-outline-info with_outline ml-3 my-4" href="?page=1">First</a>
        {% endif %}
        {% for num in category_courses.paginator.page_range %}
            {% if category_courses.number == num %}
                <a class="btn btn-info with_info my-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > category_courses.number|add:'-2' and num < category_courses.number|add:'2' %}
                <a class="btn btn-outline-info with_outline my-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if category_courses.has_next %}
            <a class="btn btn-outline-info with_outline my-4" href="?page={{ category_courses.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endif %}

{% include "main/features.html" %}

{% endblock %}