{% extends 'main/base.html' %}
{% block title %}WatchnLearn | Buy Successful{% endblock %}
{% load courses_tags %}

{% block content %}

<div class="row">
  <div class="col text-center">
    <h1><span class="category_filter_title">Successful Buy!</span></h1>
    <hr class="awaiting_approv mb-4">
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-5 my-auto mx-auto">
    <div class="content-section">
      <div class="alert alert-info my-2 text-center pending_msg">
        <i class="fa fa-check-circle text-success"></i>
        <p>
          We appreciate you doing business with us! Enjoy your course. If you have any questions, please email
          <a href="mailto:{{email}}">{{ email }}</a>.
        </p>
      </div>
    </div>
    <a class="btn check_course w-100" href="{% url 'my_learning' %}">Go to your Courses</a>
  </div>
</div>
<hr class="awaiting_approv mb-4">

{% endblock %}
