{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome-free/css/all.min.css' %}">
    {% comment %} <style>
        @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Red+Rose&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Verdana&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    </style> {% endcomment %}
    <title>{% block title %} WatchnLearn {% endblock %}</title>
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark rounded">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}" id="nav_col">
                WatchnLearn</a>
            <ul class="navbar-nav d-block d-lg-none ml-auto">
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="show-menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                    </li>
                    <li class="nav-item in_or_up">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="auth_opt text-center">
                            {% for category in all_categories %}
                                <a class="nav-link" href="{% url 'course_filter' category.slug %}">{{ category.category_title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link search" href="#"><i class="fa fa-search"></i></a>
                        <form method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <input type="search" name="search" id="search_text" class="form-control" placeholder="search courses">
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item in_or_up">
                            <a href="#" class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                            </a>
                            <div class="auth_opt text-center">
                                {% if request.user.is_instructor and not request.user.is_superuser %}
                                    <a class="nav-link" href="{% url 'profile' request.user.first_name request.user.user_instructor.first.id %}">Profile</a>
                                    <a class="nav-link" href="{% url 'instructor_drafts' %}">My Drafts</a>
                                    <a class="nav-link" href="{% url 'create_class' %}">Create Class</a>
                                    <a class="nav-link" href="{% url 'create_module' %}">Create Module</a>
                                    <a class="nav-link" href="{% url 'create_content' %}">Add Content</a>
                                    <a class="nav-link" href="{% url 'my_learning' %}">My Courses</a>
                                {% endif %}
                                {% if not request.user.is_instructor %}
                                    <a class="nav-link" href="{% url 'my_learning' %}">My Courses</a>
                                    <a class="nav-link" href="{% url 'my_bookmarks' %}">Bookmarks</a>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <a class="nav-link" href="{% url 'drafts'  %}">Drafts</a>
                                {% endif %}
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container main_document">
        <div class="col-md-8 mx-auto my-auto">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible text-center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true" class="text-"><small>x</small></span>
                </button>
                </div>
                {% endfor%}
            {% endif %}
        </div>
        <div class="mt-5">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer bg-dark">
        <div class="container">
            <div class="row" id='footer'>
                <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-around">
                    <div class="footer-top-box">
                        <div class="social_media">
                            <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://github.com/TomiwaJoseph" target="blank"><i class="fab fa-github"
                                    aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                        <hr class="foot_hr">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="footer-top-box">
                        <h3>Contact us</h3>
                        <hr class="foot_hr">
                        <p><i class="fa fa-map-marker-alt"></i>Address: No. 123456789<br>
                            <span>some street address,</span><br>
                            <span>some code</span>
                        </p>
                        <p><i class="fa fa-phone-square"></i>Phone: <a href="tel:+234-8115812801">+234 8115 8128 01</a></p>
                        <p><i class="fa fa-envelope"></i><a href="mailto:{{email}}">{{ email }}</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="footer-top-box">
                        <h3>Newsletter</h3>
                        <hr class="foot_hr">
                        <form class="newsletter-box" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input required type="email" name="email" placeholder="Email Address*"
                                    class="form-control" />
                                <i class="fa fa-envelope"></i>
                            </div>
                            <button class="btn" type="submit" id="newsletter_btn">Submit</button>
                        </form>

                        <!-- Modal -->
                        <div id="success_tic" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="page-body">
                                        <div class="head">
                                            <h2></h2>
                                            <p></p>
                                        </div>
                                        <h1>
                                            <div class="checkmark-circle">
                                                <div class="background"></div>
                                                <div class="checkmark draw"></div>
                                            </div>
                                        <h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="footer-top-box">
                        <h3>Additional Links</h3>
                        <hr class="foot_hr">
                        <div class="additional_links">
                            <a href="{% url 'contact' %}">Contact us</a>
                            <a href="{% url 'courses' %}">Courses</a>
                            <a href="#">Privacy policy</a>
                            <a href="{% url 'instructor' %}">Become an Instructor</a>
                            <a href="{% url 'free_courses' %}"><span>Free</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/my_jQuery.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/ajax_requests.js' %}"></script>
    {% block script %} {% endblock %}
</body>

</html>