{% extends 'main/base.html' %}
{% block title %}WatchnLearn | Contact Us{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto my-auto text-center">
        <h2>Get in touch</h2>
        <hr>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="content-section mt-4">
                <form action="{% url 'contact' %}" method="POST" class="p-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required type="text" placeholder="Your name" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <input required type="text" placeholder="Subject" class="form-control" name="subject">
                    </div>
                    <div class="form-group">
                        <input required type="email" placeholder="Email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <textarea required name="message" placeholder="Message" rows="8" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-info log my-3 text-uppercase">Send message</button>
                </form>
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <div class="content-section" id="contct_addr">
                <h3>About us</h3>
                <hr class="foot_hr">
                <p class="mb-4">Get in contact for your full stack web development projects, web solutions, api creation, debugging, web hosting, desktop management system applications, simple desktop games or utility scripts. I am your go-to person. Looking forward to hearing from you.</p>
            </div>
            <div class="content-section addresses">
                <div class="row mt-2">
                    <div class="col d-flex">
                        <i class="fa fa-map-marker-alt"></i>
                        <p>No 3, Python coding street, 7531</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex">
                        <i class="fa fa-phone"></i>
                        <p>Phone: <a href="tel:+1-888705770">+234 8115 8128 01</a></p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex">
                        <i class="fa fa-envelope"></i>
                        <p>Email: <a href="mailto:tomiwajoseph88@gmail.com">tomiwajoseph88@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "main/features.html" %}

{% endblock %}