{% extends 'main/base.html' %}
{% block title %}WatchnLearn | Search{% endblock %}
{% load courses_tags %}


{% block content %}

<h1>Search results for <span class="category_filter_title">"{{ search_input }}"</span></h1>
<hr class="mb-4">

<div class="row">
    {% for course in search_results %}
    <div class="col-md-4 mb-5">
        <div class="card courses_card">
            <a href="{% url 'course_detail' course.slug %}">
                <img src="{{ course.thumbnail_image.url }}" alt="{{ course.title }}" class="card-img-top img-fluid">
            </a>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col d-flex justify-content-between little_course_info">
                        <p>{{ course.students.all|length }} student{{ course.students.all|length|pluralize:",s" }}</p>
                        <p>{{ course|get_course_duration }}</p>
                    </div>
                </div>
                <a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                <div class="row mt-2 course_details">
                    <div class="col d-flex justify-content-between">
                        <p>{{ course.instructor }}</p>
                        <div>
                            <a><i class="fa fa-bookmark bookmark_btn {% if course in user.user_bookmarks.folder.all %}active{% endif %}"
                                    data-id="{{ course.id }}"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include "main/features.html" %}


{% endblock %}